streamlit==1.32.0
transformers==4.40.0
torch==2.2.0
pandas==2.2.0
numpy==1.26.0
scikit-learn==1.4.0
plotly==5.20.0
peft==0.10.0
sentence-transformers==2.7.0
tqdm==4.66.0
imbalanced-learn==0.12.0
seaborn==0.13.2
matplotlib==3.8.0
huggingface_hub==0.22.0
